.App {
  width: 100vw;
  height: 100vh;
  background: #fff;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  display: grid;
  place-items: center;
}
body {
  margin: 0%;
  padding: 0%;
}

.joinChatContainer {
  display: flex;
  flex-direction: column;
}
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.joinChatContainer h3 {
  text-align: center;
  font-size: 40px;
}

.joinChatContainer button {
  background-color: #6a5acd;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.chat-window {
  display: flex;
  flex-direction: column;
}
.chat-header {
  text-align: center;
  flex-direction: column
}
.chat-footer {
  display: flex;
  flex-direction: row;
  justify-items: center;
  gap: 10px;
}
.chat-footer button {
  margin: 10px;
  
}